body {
background-color:#ffc1ed;
display: flex;
justify-content:center;
align-items: center;
flex-direction: column;
}

.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px;
}
h1 {
font-size: 50px;
color: #eb30a2;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

    



.main-section input {
    border: 2px solid #eb30a2;
    border-radius: 4px;
    width: 240px;
    padding: 30px;
    background-color: #ffc1ed;
    color: #eb30a2;
    font-size: 40px;
    font-weight: 900;
}

::placeholder {
    color: #eb30a2;
}
.images {
    display: flex;
    opacity: 40%;
    justify-content: center;
    align-items: center;
    padding: 20px;
}


.answer   {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.answer input {
   padding: 3%;
   border: 2px solid  #eb30a2;
   background-color: #ffc1ed;
   color: #eb30a2;
   font-size: 20px;
   font-weight: bold;
   cursor: pointer;
   margin-left: 2%;
   border-radius: 11%;
   margin-top: 30px;
}

.answer input:hover {
    background-color: #eb30a2;
    color: #ffc1ed;

}

.answer label {
    font-size: 30px;
    color: #eb30a2;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="checkbox"] {
    width: 20px; /* Set your desired width */
    height: 20px; /* Set your desired height */
}

.main-container {
padding: 10%;
border: 1px solid #eb30a2;

};

#new-image {
    width: 40px;
    height: 40px;
     display: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

footer a  {
    text-decoration: none;
    
}

@media (max-width: 768px) {
    /* Styles for screens up to 768px wide */
    .main-section {
      flex-direction: column; /* Example: Stack elements vertically */
    }
  
    .main-section input {
      font-size: 1.5rem; /* Adjust as needed */
    }
  
    .images img {
      width: 30%; /* Example: Adjust image size */
      margin: 1%;
    }
  }
  
  /* Add more media queries for different screen sizes as needed */
  

  @media (max-width: 580px) {
    /* Styles for screens up to 768px wide */
    .main-section {
      flex-direction: column; 
      padding: 10px;
      margin: 10px;
      
      /* Example: Stack elements vertically */
    }
    .main-section h1 {
        font-size: 3rem;
        padding: 5% 20%;
    }
    .main-section input {
      font-size: 2rem; /* Adjust as needed */
    }
  
    .images img {
      width: 30%; /* Example: Adjust image size */
      margin: 1%;
    }
  }
  
